# Elisp byte code
*.elc

# Customization settings.  We ignore these because they are automatically
# generated, and sometimes contain `local` information (e.g. safe themes,
# automatically installed packages).  And all of my real settings are in init.el
# anyway
/custom.el

# Installed packages
/elpa/
/.cask/
/vendor/ProofGeneral*

# Recovery and backup directories
/auto-save-list/
/.backup/

# Files which are downloaded automatically by init.el
/logo.png
/scalastyle/

# Cache file from marmalade-upload tool
/marmalade-upload.json

# Cache files and settings for packages
/tutorial/
/.emacs.desktop*
/.mc-lists.el
/smex-items
/bookmarks
/history
/ido.last
/places
/projectile-bookmarks.eld
/projectile.cache
/recentf
/semanticdb/
/session.*
/tramp
/tramp-auto-save
/url/
/var/
/abbrev_defs
/cider-repl-history
/eww-bookmarks
/.sx
/ensime/
/company-statistics-cache.el
/eshell/


.cache
el-get
anaconda-mode/

*#*
*.elc
*.orig
*~
.places
.mc-lists.el
ac-comphist.dat
ede-projects.el
eshell/
srecode-map.el
/flycheck_init.el
/flycheck_custom.el
snippets/*/Apache-2.0
snippets/*/GPLv2+
snippets/*/GPLv3+
snippets/*/MIT
*-pkg.el
